* {
    margin: 0;
    padding: 0;
  }
  
  #navbar {
    font-size: 20px;
    width: 100%;
    background-color: #ecfeff;
    position: fixed;
    padding-top: 15px;
    padding-bottom: 15px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  }
  
  #navlinks {
    font-family: Lato, sans-serif;
    list-style-type: none;
    padding-right: 20px;
    padding-bottom: 20px;
  }
  
  #navbar li {
    padding-right: 20px;
    float: right;
  }
  
  a {
    text-decoration: none;
    color: #155e75;
  }
  
  #navlinks a:hover {
    color: #0891b2;
  }
  
  #navlinks a:visited {
    color: none;
  }
  
.headertitle {
    text-align: left;
    padding-left: 30px;
}

  #welcome-section {
    font-size: 30px;
    padding-top: 130px;
    padding-bottom: 100px;
    text-align: center;
    background-color: #0891b2;
    font-family: Lato, sans-serif;
  }
  
  #welcome-section h6 {
    font-style: italic;
    color: #f0fdfa;
    font-family: Lato, sans-serif;
  }
  
  #projects {
    background-color: #cffafe;
    width: 100%;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 20px;
    font-family: Lato, sans-serif;
  }
  
  #projects a {
    font-family: Lato, sans-serif;
  }
  
  #artwork {
    background-color: #0891b2;
    width: 100%;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 20px;
    font-family: Lato, sans-serif;
  }

  #work-together {
    background-color: #cffafe;
    width: 100%;
    text-align: center;
    padding-top: 70px;
    padding-bottom: 70px;
  }
  
  #work-together h5 {
    font-style: italic;
    color: black;
    font-family: Lato, sans-serif;
  }
  
  footer {
    text-align: right;
    padding: 10px;
    font-family: Lato, sans-serif;
    background-color: #cffafe;
    padding-bottom: 30px;
  
  }
  
  hr {
    width: 100%;
    border: none;
     margin-right: auto;
     margin-left: auto;
     background-color:white;
     height: 2px;
  }
  
  .footer-right {
    float: right;
  }
  
  .footer-left {
    float: left;
    
  }
  
  #projectsquares {
    font-size: 25px;
  }
  
  #projectsquares a {
    color: #155e75;
  }
  
  #projectsquares a:hover {
    color: #0891b2;
  }


  
  button {
    background-color: white;
    border: 1;
    font-family: Lato, sans-serif;
    padding: 10px;
    font-size: 15px;
    border: 1px solid black;
    border-radius: 20px;
  }

 .projectimage {
  object-fit: cover;
  width: 500px;
  height: 350px;
  padding: 10px;
}

.projectimage:hover {
    opacity: 90%;
}

#artwork img {
    max-height: 450px;
    padding: 1px;
}



.projects-grid {
    display: flex;
    flex-wrap: nowrap;
    overflow: scroll;
}

.fa-icons {
    font-size: 30px;
    padding-top: 20px;
}

.fa-icons:a {
    color: white;
}